<nav
  class="navbar navbar-expand-md navbar-light bg-light border rounded shadow-sm p-2 sticky-bottom"
  [class.is-dragging-nav]="isDragging()"
  [style.top.px]="isDragging() ? dragTop() : null"
>
  <div class="container-fluid px-1 d-flex flex-wrap gap-3 justify-content-between">
    <div class="d-flex align-items-center gap-3">
      <div class="form-check form-switch m-0">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="idToggle"
          [checked]="showIds()"
          (change)="toggleIds.emit()"
        />
        <label class="form-check-label fw-semibold text-muted small" for="idToggle">Debug</label>
      </div>
      <div class="form-check form-switch m-0">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="details"
          [checked]="details()"
          (change)="toggleDetails.emit()"
        />
        <label class="form-check-label fw-semibold text-muted small" for="details">Details</label>
      </div>
    </div>

    <div class="d-flex align-items-stretch gap-2 py-1">
      <span class="navbar-text fw-bold text-uppercase small py-0 d-flex align-items-center"
        >Pool:</span
      >
      <div class="d-flex gap-2 align-items-stretch pool-wrappers">
        @for (wrap of pools(); track wrap.id) {
          <app-group-wrapper-card
            [group]="wrap"
            [sourceZone]="wrap.id"
            payloadType="POOL"
            [payloadData]="wrap.participants"
            [showIds]="showIds()"
            [details]="details()"
            [allParticipants]="allParticipants()"
            [currentZoneParticipants]="wrap.participants"
            [isDropZone]="true"
            [dragOverZone]="dragOverZone()"
            [showPoolStats]="true"
            (dragStartItem)="dragStartItem.emit($event)"
            (dblClickItem)="dblClickItem.emit($event)"
            (resetItem)="resetItem.emit($event)"
            (dragOverNode)="dragOverNode.emit({ event: $event, zone: wrap.id })"
            (dragLeaveNode)="dragLeaveNode.emit({ event: $event, zone: wrap.id })"
            (dropNode)="dropNode.emit({ event: $event, zone: wrap.id })"
          ></app-group-wrapper-card>
        }
      </div>
    </div>

    <div class="d-flex align-items-center gap-2">
      <button class="btn btn-sm btn-outline-success py-0.5 px-2" (click)="exportCsv.emit()">
        Export (CSV)
      </button>
      <button class="btn btn-sm btn-outline-danger py-0.5 px-2" (click)="confirmLoadServer.emit()">
        Letzte Einteilung abrufen
      </button>
      <button
        class="btn btn-sm btn-primary py-0.5 px-2"
        (click)="saveGroupsServer.emit()"
        [disabled]="progress() > 0 || !isDirty()"
      >
        Stammeseinteilung übertragen
        @if (progress() > 0) {
          ({{ progress() | percent }})
        }
      </button>
    </div>
  </div>
</nav>
