.cursor-grab {
  cursor: grab;
}
.cursor-grab:active {
  cursor: grabbing;
}
.pool-wrappers {
  min-height: 28px;
  min-width: 140px;
}
.group-wrapper-card {
  min-width: 140px;
  border: 2px dashed var(--bs-border-color);
}
.wrapper-body {
  min-height: 40px;
}
.drag-over {
  background-color: var(--bs-primary-bg-subtle) !important;
  border: 2px dashed var(--bs-primary) !important;
}

.is-dragging-nav {
  position: absolute !important;
  left: 12px; /* Bootstrap Padding ausgleichen */
  right: 12px;
  z-index: 1050;
  bottom: auto !important; /* Verhindert das Wachstum nach oben */
  margin: 0 !important;
}
