:host {
  display: flex;
  flex-direction: column;
}
.card {
  flex-grow: 1;
}
.cursor-grab {
  cursor: grab;
}
.cursor-grab:active {
  cursor: grabbing;
}
.group-wrapper-card {
  min-width: 140px;
  border: 2px dashed var(--bs-border-color);
}
.wrapper-body {
  min-height: 40px;
}
.drag-over {
  background-color: var(--bs-primary-bg-subtle) !important;
  border: 2px dashed var(--bs-primary) !important;
}
