:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

.overlay-backdrop {
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-card {
  min-width: 300px;
}
