dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px 16px;
  align-items: baseline;
}

dt {
  font-weight: bold;
  grid-column: 1;
}

dd {
  margin: 0;
  grid-column: 2;
}

td,
th {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: right;
  &:first-child {
    text-align: left;
  }
}

.bg-blue-light {
    background-color: #e7f3ff !important; /* Soft Blue */
    border-color: #0d6efd !important;      /* Bootstrap Primary Blue */
}

.bg-red-light {
    background-color: #fce8e8 !important;  /* Soft Red */
    border-color: #dc3545 !important;      /* Bootstrap Danger Red */
}

.cursor-move {
    cursor: move;
}