<div class="container mt-5">
    <div [formGroup]="formGroup" class="input-group mb-3">
        <select *ngIf="jahre$ | async; let jahre" formControlName="selectedYear" class="form-select" [class.text-secondary]="!formGroup.value.selectedYear">
            <option [ngValue]="null" selected disabled>Jahr</option>
            <option *ngFor="let jahr of jahre" [ngValue]="jahr.id">{{ jahr.name }}</option>
        </select>
        <select *ngIf="solawochen$ | async; let solawochen" formControlName="selectedWeek" class="form-select" [class.text-secondary]="!formGroup.value.selectedWeek">
            <option [ngValue]="null" selected disabled>Solawoche</option>
            <option *ngFor="let solawoche of solawochen" [ngValue]="solawoche.id">{{ solawoche.name }}</option>
        </select>
    </div>
    <div *ngIf="anmeldungen$ | async; let anmeldungen" class="member-list">
      <div *ngFor="let anmeldung of anmeldungen" class="member-item">
        <h3>{{ anmeldung.person.title}}</h3>
        <h3>{{ anmeldung.personFields?.sexId}}</h3>
        <ul>
          <li>Age: {{ getAge(anmeldung.personFields?.birthday) }}</li>
          
          <li>Stammeszugehörigkeit: {{ getExtraField(anmeldung, 'Stammeszugehörigkeit') }}</li>
          <li>Wunsch 1: {{ getExtraField(anmeldung, 'Wunsch 1') }}</li>
          <li>Wunsch 2: {{ getExtraField(anmeldung, 'Wunsch 2') }}</li>
        </ul>
        <hr>
      </div>
    </div>
</div>


