<div class="container d-flex flex-column mt-5">
  <app-sola-selector
    [jahre]="$jahre()"
    [solawochen]="$solawochen()"
    (yearSelected)="onYearSelected($event)"
    (weekSelected)="onWeekSelected($event)"
  ></app-sola-selector>

  @if ($displayData(); as anmeldungen) {
    @if (anmeldungen.length > 0) {
      <ngx-datatable
        #datatable
        [rows]="anmeldungen"
        [messages]="{ emptyMessage: 'Keine Daten', totalMessage: 'insgesamt' }"
        [headerHeight]="50"
        [rowHeight]="50"
        [footerHeight]="50"
        [sorts]="[
          { dir: 'asc', prop: 'person.domainAttributes.lastName' },
          { dir: 'asc', prop: 'person.domainAttributes.firstName' },
        ]"
        [limit]="10"
        columnMode="force"
        class="bootstrap"
      >
        <ngx-datatable-row-detail #myDetailRow [rowHeight]="100">
          <ng-template let-row="row" ngx-datatable-row-detail-template>
            <div class="d-flex justify-content-between align-items-center p-5">
              @if (row.displayFields.length) {
                <dl>
                  @if (row.personFields.street || row.personFields.zip || row.personFields.city) {
                    <dt>Adresse</dt>
                    <dd>{{ row.personFields.street }}, {{ row.personFields.zip }} {{ row.personFields.city }}</dd>
                  }
                  @for (field of row.displayFields; track field.name) {
                    <dt>{{ field.name }}</dt>
                    <dd>{{ field.value }}</dd>
                  }
                </dl>
              }

              <ng-container *ngTemplateOutlet="sofa.familienmitgliederTabelle; context: { mitglieder: row.familienpreis?.weitereMitglieder }"> </ng-container>
              <ng-container *ngTemplateOutlet="sofa.preisTabelle; context: { row }"> </ng-container>
              <ng-container *ngTemplateOutlet="solaTeilnehmer.wuenscheDetails; context: { row }"> </ng-container>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
        >
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            @if (row.fields.length) {
              <a
                href="javascript:void(0)"
                title="Expand/Collapse Row"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                (click)="datatable.rowDetail?.toggleExpandRow(row)"
              >
              </a>
            }
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="person.domainAttributes.lastName"
          name="Nachname"
        ></ngx-datatable-column>

        <ngx-datatable-column
          prop="person.domainAttributes.firstName"
          name="Vorname"
        ></ngx-datatable-column>

        <ngx-datatable-column prop="personFields.birthday" name="Geburtstag">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{ value | date: 'dd.MM.yyyy' }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="personFields.sexId" name="m/w">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{ value === 1 ? 'm' : '' }}{{ value === 2 ? 'w' : '' }}
          </ng-template>
        </ngx-datatable-column>

        @if (sofa.preisSpalte) {
          <ngx-datatable-column prop="familienpreis.gesamt" name="Preis">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <ng-container
                *ngTemplateOutlet="sofa.preisSpalte; context: { value, row }"
              ></ng-container>
            </ng-template>
          </ngx-datatable-column>
        }

        @if (sofa.personenSpalte) {
          <ngx-datatable-column prop="familienpreis.anzahlFamilienmitglieder" name="Personen">
            <ng-template ngx-datatable-cell-template let-row="row">
              <ng-container
                *ngTemplateOutlet="sofa.personenSpalte; context: { row }"
              ></ng-container>
            </ng-template>
          </ngx-datatable-column>
        }

        @if (solaTeilnehmer.wuenscheSpalte) {
          <ngx-datatable-column name="Wünsche">
            <ng-template ngx-datatable-cell-template let-row="row">
              <ng-container
                *ngTemplateOutlet="solaTeilnehmer.wuenscheSpalte; context: { row }"
              ></ng-container>
            </ng-template>
          </ngx-datatable-column>
        }

        <ngx-datatable-column prop="groupMemberStatus" name="Status"></ngx-datatable-column>
      </ngx-datatable>
    }
  }

  <app-sofa-anmeldungen
    #sofa
    [anmeldungen]="$anmeldungen()"
    [priceRefDate]="$priceRefDate()"
    [groupId]="$selectedWeek()"
    (processedData)="onSofaDataProcessed($event)"
  ></app-sofa-anmeldungen>

  <app-sola-teilnehmer-anmeldungen
    #solaTeilnehmer
    [anmeldungen]="$anmeldungen()"
    [isFamiliensola]="sofa.$isFamiliensola()"
  ></app-sola-teilnehmer-anmeldungen>
</div>
